# Kconfig settings for RP2040 processor

if MACH_RP2040

config RP2040_SELECT
    bool
    default y
    select HAVE_GPIO
    select HAVE_CHIPID

config BOARD_DIRECTORY
    string
    default "rp2040"

config MCU
    string
    default "rp2040"

config CLOCK_FREQ
    int
    default 12000000

config FLASH_SIZE
    hex
    default 0x200000

config RAM_START
    hex
    default 0x20000000

config RAM_SIZE
    hex
    default 0x42000

config STACK_SIZE
    int
    default 512

config FLASH_BOOT_ADDRESS
    hex
    default 0x10000100

######################################################################
# SD Card Configuration
######################################################################

menu "SD Card Configuration"

choice
    default RP2040_SD_DISABLED
    prompt "SD Card Interface"
    config RP2040_SD_DISABLED
        bool "SD Card Disabled"
    config RP2040_SD_SPI0A
        bool "spi0a (on gpio0,gpio3,gpio2)"
        select SDCARD_SPI
    config RP2040_SD_SPI0B
        bool "spi0b (on gpio4,gpio7,gpio6)"
        select SDCARD_SPI
    config RP2040_SD_SPI0C
        bool "spi0c (on gpio16,gpio19,gpio18)"
        select SDCARD_SPI
    config RP2040_SD_SPI0D
        bool "spi0d (on gpio20,gpio23,gpio22)"
        select SDCARD_SPI
    config RP2040_SD_SPI1A
        bool "spi1a (on gpio8,gpio11,gpio10)"
        select SDCARD_SPI
    config RP2040_SD_SPI1B
        bool "spi1b (on gpio12,gpio15,gpio14)"
        select SDCARD_SPI
    config RP2040_SD_SPI1C
        bool "spi1c (on gpio24,gpio27,gpio26)"
        select SDCARD_SPI
    config RP2040_SOFTWARE_SPI
        bool "Software SPI"
        select SDCARD_SOFTWARE_SPI
endchoice

config SOFTWARE_SPI_PINS
    depends on SDCARD_SOFTWARE_SPI
    string "SD Card Software SPI Pins (MISO,MOSI,SCLK)"
config SD_SPI_CS_PIN
    depends on SDCARD_SPI || SDCARD_SOFTWARE_SPI
    string "SD Card SPI CS Pin"

endmenu

config SD_SPI_BUS_NAME
    string
    default "spi0a" if RP2040_SD_SPI0A
    default "spi0b" if RP2040_SD_SPI0B
    default "spi0c" if RP2040_SD_SPI0C
    default "spi0d" if RP2040_SD_SPI0D
    default "spi1a" if RP2040_SD_SPI1A
    default "spi1b" if RP2040_SD_SPI1B
    default "spi1c" if RP2040_SD_SPI1C
    default "disabled"

######################################################################
# Bootloader options
######################################################################

config RP2040_ADD_BOOT_SIGNATURE
    bool
    default y
    help
      Add boot signature (zero page at application start)
      into resulting uf2.
      This is used to force bootloader entry
      before application is updated.

choice
    prompt "Flash chip" if LOW_LEVEL_OPTIONS
    config RP2040_FLASH_W25Q080
        bool "W25Q080 with CLKDIV 2"
    config RP2040_FLASH_GENERIC_03
        bool "GENERIC_03H with CLKDIV 4"
endchoice

config RP2040_STAGE2_FILE
    string
    default "boot2_generic_03h.S" if RP2040_FLASH_GENERIC_03
    default "boot2_w25q080.S"

config RP2040_STAGE2_CLKDIV
    int
    default 4 if RP2040_FLASH_GENERIC_03
    default 2

######################################################################
# Deployer
######################################################################

choice
    prompt "Build Katapult deployment application"
    config RP2040_FLASH_START_0000
        bool "Do not build"
    config RP2040_FLASH_START_4000
        bool "16KiB bootloader"
    config RP2040_FLASH_START_8000
        bool "32KiB bootloader"
endchoice
config FLASH_APPLICATION_ADDRESS
    hex
    default 0x10004000 if RP2040_FLASH_START_4000
    default 0x10008000 if RP2040_FLASH_START_8000
    default 0x10000100

######################################################################
# Communication inteface
######################################################################

choice
    prompt "Communication interface"
    config RP2040_USB
        bool "USB"
        select USBSERIAL
    config RP2040_SERIAL_UART0
        bool "Serial (on UART0 GPIO1/GPIO0)"
        select SERIAL
    config RP2040_CANBUS
        bool "CAN bus"
        select CANSERIAL
endchoice

config RP2040_CANBUS_GPIO_RX
    int "CAN RX gpio number" if CANBUS
    default 4
    range 0 29

config RP2040_CANBUS_GPIO_TX
    int "CAN TX gpio number" if CANBUS
    default 5
    range 0 29

######################################################################
# Flash settings
######################################################################

config FLASH_START
    hex
    default 0x10000000

choice
    prompt "Application start offset"
    config RP2040_APP_START_4000
        bool "16KiB offset"
    config RP2040_APP_START_8000
        bool "32KiB offset"
endchoice

config LAUNCH_APP_ADDRESS
    default 0x10004000 if RP2040_APP_START_4000
    default 0x10008000 if RP2040_APP_START_8000
    default 0x10004000
    hex

config BLOCK_SIZE
    int
    default 64

endif