CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_STM32_SELECT=y
CONFIG_BOARD_DIRECTORY="stm32"
CONFIG_STM32_FLASH_START_2000=y
CONFIG_FLASH_APPLICATION_ADDRESS=0x08002000
CONFIG_STM32_APP_START_2000=y
CONFIG_LAUNCH_APP_ADDRESS=0x08002000
CONFIG_BUILD_DEPLOYER=y
CONFIG_MACH_GD32E230X8=y
CONFIG_MACH_GD32E23X=y
CONFIG_STM32_SERIAL_USART2=y
CONFIG_SERIAL=y
