CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_LPC176X=y
# CONFIG_MACH_STM32 is not set
# CONFIG_MACH_RPXXXX is not set
CONFIG_LPC_SELECT=y
CONFIG_BOARD_DIRECTORY="lpc176x"
CONFIG_MACH_LPC1768=y
# CONFIG_MACH_LPC1769 is not set
CONFIG_MCU="lpc1768"
CONFIG_CLOCK_FREQ=100000000
CONFIG_FLASH_SIZE=0x80000
CONFIG_FLASH_BOOT_ADDRESS=0x0
CONFIG_RAM_START=0x10000000
CONFIG_RAM_SIZE=0x7ee0
CONFIG_STACK_SIZE=512
# CONFIG_LPC_FLASH_START_0000 is not set
CONFIG_LPC_FLASH_START_4000=y
CONFIG_FLASH_APPLICATION_ADDRESS=0x4000
CONFIG_LPC_USB=y
# CONFIG_LPC_SERIAL_UART0_P03_P02 is not set
# CONFIG_LPC_SERIAL_UART3_P429_P428 is not set
CONFIG_FLASH_START=0x0000
CONFIG_LAUNCH_APP_ADDRESS=0x4000
CONFIG_BLOCK_SIZE=64
CONFIG_USBSERIAL=y
CONFIG_USB=y
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x6177
CONFIG_USB_SERIAL_NUMBER_CHIPID=y
CONFIG_USB_SERIAL_NUMBER="12345"

#
# USB ids
#
# end of USB ids

CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_INITIAL_PINS=""
CONFIG_ENABLE_DOUBLE_RESET=y
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_PIN="P1.22"
CONFIG_ENABLE_LED=y
CONFIG_STATUS_LED_PIN="P1.23"
CONFIG_BUILD_DEPLOYER=y
CONFIG_HAVE_CHIPID=y
CONFIG_KATAPULT_VERSION="v0.0.1-103-g87eb491"
