CONFIG_LOW_LEVEL_OPTIONS=y
# CONFIG_MACH_LPC176X is not set
# CONFIG_MACH_STM32 is not set
CONFIG_MACH_RPXXXX=y
CONFIG_BOARD_DIRECTORY="rp2040"
CONFIG_MCU="rp2350"
CONFIG_CLOCK_FREQ=150000000
CONFIG_FLASH_SIZE=0x200000
CONFIG_FLASH_BOOT_ADDRESS=0x10000000
CONFIG_RAM_START=0x20000000
CONFIG_RAM_SIZE=0x82000
CONFIG_STACK_SIZE=512
CONFIG_FLASH_APPLICATION_ADDRESS=0x10004000
CONFIG_FLASH_START=0x10000000
CONFIG_LAUNCH_APP_ADDRESS=0x10004000
CONFIG_BLOCK_SIZE=64
CONFIG_RPXXXX_SELECT=y
# CONFIG_MACH_RP2040 is not set
CONFIG_MACH_RP2350=y
CONFIG_RP2040_STAGE2_FILE="boot2_w25q080.S"
CONFIG_RP2040_STAGE2_CLKDIV=2
# CONFIG_RPXXXX_FLASH_START_0000 is not set
CONFIG_RPXXXX_FLASH_START_4000=y
CONFIG_RPXXXX_USB=y
# CONFIG_RPXXXX_SERIAL_UART0_PINS_0_1 is not set
# CONFIG_RPXXXX_SERIAL_UART0_PINS_12_13 is not set
# CONFIG_RPXXXX_SERIAL_UART0_PINS_16_17 is not set
# CONFIG_RPXXXX_SERIAL_UART0_PINS_28_29 is not set
# CONFIG_RPXXXX_SERIAL_UART1_PINS_4_5 is not set
# CONFIG_RPXXXX_SERIAL_UART1_PINS_8_9 is not set
# CONFIG_RPXXXX_SERIAL_UART1_PINS_20_21 is not set
# CONFIG_RPXXXX_SERIAL_UART1_PINS_24_25 is not set
# CONFIG_RPXXXX_CANBUS is not set
# CONFIG_RPXXXX_USBCANBUS is not set
CONFIG_RPXXXX_CANBUS_GPIO_RX=4
CONFIG_RPXXXX_CANBUS_GPIO_TX=5
CONFIG_USBSERIAL=y
CONFIG_USB=y
CONFIG_USB_VENDOR_ID=0x1d50
CONFIG_USB_DEVICE_ID=0x6177
CONFIG_USB_SERIAL_NUMBER_CHIPID=y
CONFIG_USB_SERIAL_NUMBER="12345"

#
# USB ids
#
# end of USB ids

CONFIG_CANBUS_FREQUENCY=1000000
CONFIG_INITIAL_PINS="gpio2"
CONFIG_ENABLE_DOUBLE_RESET=y
CONFIG_ENABLE_BUTTON=y
CONFIG_BUTTON_PIN="gpio1"
CONFIG_ENABLE_LED=y
CONFIG_STATUS_LED_PIN="gpio25"
CONFIG_BUILD_DEPLOYER=y
CONFIG_HAVE_CHIPID=y
CONFIG_HAVE_BOARD_CHECK_DOUBLE_RESET=y
CONFIG_KATAPULT_VERSION="v0.0.1-103-g87eb491"
